/* -------------------------------------------------------------------------- */
/* http://saturn.mech.pk.edu.pl/usr/rpetryniak/                               */
/* google: Rafa� Petryniak                                                    */
/* -------------------------------------------------------------------------- */
/* LICENCE: GNU General Public License                                        */
/* http://www.gnu.org/licenses/gpl.html                                       */
/* -------------------------------------------------------------------------- */
/* This document bases on CSS style from eDE packege                          */
/* http://www.e-novative.info/software/ede.php                                */
/* -------------------------------------------------------------------------- */

/* Basic Settings:                                                            */

body {

  /* white background */
  background-color: #fff;

  /* black foreground */
  color: #000;

  /* center the body content in browser window */
  margin: auto;

  /* padding ("inner margin") leaves space between */
  /* browser window border and html body content   */
  padding: 24px;

  /* set width according to browser window width */
  width: auto;

  /* text alignment: justify */
  text-align: justify;

  /* list of fonts provides fallbacks if a font is not present */
  font-family: Trebuchet MS;
}

/* sect1 heading */
h2
{
  /* list of fonts provides fallbacks if a font is not present */
  font-family: "Trebuchet MS", verdana, arial, helvetica, sans-serif;

  /* font size, relative to body font size */
  font-size: 125%;

  /* bold face, higher number is more bold */
  font-weight: 600;

  /* underlined text */
  text-decoration: none;

  /* foreground color: black */
  color: #000;

  /* background color:  rgb(229,228,217)*/
	background-color: #e5e4d9 ; 

	/* width, style and color of the border */
	border: 2px solid  #003153;

  /* margin settings are top - right - bottom - left (think clockwise) */
  margin: 15px 0 15px 0;

  /* padding ("inner margin") settings are top - right - bottom - left */
  /* (think clockwise)                                                 */
  padding: 12px 15px 12px 15px;
  
  
}




/* para */
p
{
  /* font size, line height, font */
  /* list of fonts provides fallbacks if a font is not present */
  font: 12px/18px Verdana, Arial, Helvetica, Sans-Serif;

  /* margin (top - right - bottom - left) */
  margin: 0 15px 6px 15px;
}

p.releaseinfo
{
  /* font size, line height, font */
  /* list of fonts provides fallbacks if a font is not present */
  font: 12px/18px Arial, Verdana, Helvetica, Sans-Serif;

  	/* text alignment: center */
	text-align: center;
	
	/*font style: italic */
	font-style: italic;
}



/* NEEDS TO BE CLEARED UP                            <---- USUNIECIE */


p, td, li, dt, dd
{
  /* font size, line height, font */
  /* list of fonts provides fallbacks if a font is not present */
  font-family: Trebuchet MS;
}



/* set font for most elements                    */
/* p: paragraphs (regular text, docbook <para>)  */
/* (...) */
/* body: anything else  */
body, p, td, li, dt, dd,
{
	/* set font size and line height                             */
	/* list of fonts provides fallbacks if a font is not present */
	font: 12px/18px Verdana, Arial, Helvetica, Sans-Serif;
}

a.ulink
{
  /* font size, line height, font */
  /* list of fonts provides fallbacks if a font is not present */
  font: 12px/18px 'Courier New', Courier, monospace;
}


/* images */
/* docbook: <imageobject> */
img
{
	/* no margin */
	margin: 0;

	/* no padding ("inner margin") */
	padding: 4px;
	
	/* white background */
	background-color: #FFF;

	/* no border */
	border: 0;
}


/* emphasized text, can occur in most places */
/* docbook: <emphasis> */
em
{
	/* bold face, higher number is more bold */
	font-weight: 600;
	/* font style: italic */
	font-style: italic;
}


/* sect(ion)1 title */
h2
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Gill Sans, Arial, Helvetica, sans-serif;

	/* font size, relative to body font size */
	font-size: 125%;

	/* bold face, higher number is more bold */
	font-weight: 600;

	/* underlined text */
	text-decoration: none;

	/* foreground color: white */
	color: #FFF;

	/* background color: rgb(25,36,124)*/
	background-color:  #19247C; 
	
	/* width, style and color of the border */
	border: 6px double 	#9F9FDF;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 15px 0 15px 0;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 12px 15px 12px 15px;
}


/* sect(ion)2 title */
h3
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family:Trebuchet MS;

	/* font size, relative to body font size */
	font-size: 110%;

	/* bold face, higher number is more bold */
	font-weight: 600;

	/* underlined text */
	text-decoration: none;
	
	/* text alignment: left */
    text-align: left;

	/* foreground color: grey */
	color: #333333;

	/* background color: white */
	background-color: #FFF;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	/*# padding: 0 0 0 15px; */
	margin-left: 15px;
	
	/* width, style and color of the bottom border */
	border-bottom: double 6px #204F95;



}


/* sect(ion)3 title */
h4
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Gill Sans, Arial, Helvetica, sans-serif;

	/* font size, relative to body font size */
	font-size: 100%;

	/* bold face, higher number is more bold */
	font-weight: 600;

	/* underlined text */
	text-decoration: none;

	/* foreground color: black */
	color: #000;

	/* background color: rgb(254,254,254) */
	background-color: #fefefe;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 0 0 0 15px;
	margin-left: 15px;
	
	/* width, style and color of the bottom border */
	border-bottom: solid 2px #204F95;
}


/* sect(ion)4 title */
h5
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 100%;

	/* bold face, higher number is more bold */
	font-weight: 300;

	/* not underlined */
	text-decoration: none ;

	/* foreground color: black */
	color: #000;

	/* background color: rgb(254,254,254 */
	background-color: #fefefe;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 0 0 0 15px;
	margin-left: 23px;
	
	/* width, style and color of the bottom border */
	border-bottom: solid 1px #204F95;
}

/* the following formats refer to the docbook tags of the same name           */
/* for more information, see the docbook reference at                         */
/* http://www.docbook.org/tdg/en/html/docbook.html                            */

.mediaobject
{
	/* text alignment: center */
	text-align: center;
}


/*  */
.calloutlist, .figure, .table
{
	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 15px 30px 15px 30px;
}


/*  */
.itemizedlist, .variablelist {
	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 15px 30px 15px 15px;
}

/* blockquote formatting is a little more complex    */
/* because block quotes are rendered as a html table */

/* blockquote block */
.blockquote
{
	/* override bottom margin, the other margins are inherited */
	margin-bottom: 30px;
}

.blockquote p, .blockquote td
{
	/* set font size and line height                             */
	/* list of fonts provides fallbacks if a font is not present */
	font: 12px/18px Verdana, Arial, Helvetica, Sans-Serif;

	/* bold face, higher number is more bold */
	font-weight: 450;
}


.epigraph
{
	/* override bottom margin, the other margins are inherited */
	margin-bottom: 30px;
}

.epigraph p, .epigraph td
{
	/* set font size and line height                             */
	/* list of fonts provides fallbacks if a font is not present */
	font: 10px/14px Verdana, Arial, Helvetica, Sans-Serif;

	/* bold face, higher number is more bold */
	font-weight: 600;
}



/* custom e-novative header and footer that are displayed on all pages */
#customheader, #customfooter
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 80%;

	/* line height, relative to body font size */
	line-height: 200%;

	/* text alignment: center */
	text-align: center;
	
	/* vertical alignment: middle */
	vertical-align: middle;
	
	/* color: white */
	color: #fff;
	
	/*background color: rgb(221,221,221) */
	background-color: #ddd;
}


/* leave more space between last paragraph and footer  */
/* some browser do not add up the bottom margin of the prior element */
/* and the top margin of the footer */
#customfooter {
	/* top margin */
	margin-top: 15px;
}



/* table { margin: 0 15px 6px 15px; } */


/* title and navigation links in header and footer */
.navheader th, .navheader td, .navfooter th, .navfooter td
{
	/* font size */
	font-size: 11px;
	
	/* bold face, higher number is more bold */
	font-weight: 450;
}


/* table of contents, list of figures and list of tables */
.toc, .list-of-figures, .list-of-tables, .list-of-examples
{
	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 15px 15px 15px 15px;
	
	/* background color: rgb(255,253,208) */
	background-color:  #FFFDD0;
	
	
	/* padding ("inner margin") settings are top - right - bottom - left */
	padding: 5px 5px 5px 5px;
	
}

div.toc
{	
	/* border */
	/* background color: rgb(255,255,240)*/
	background-color: #FFFFF0;
	
	/* border width */
	border-width:2px;
	
	/* border color: rgb(83,35,56)*/
	border-color: #532338;
	
	/* border style: solid */
	border-style: solid;
	
	/* shadow effect */
	box-shadow: 2px 2px 2px 2px;
}



/* the "headings" are rendered as paragraphs */
.toc p, .list-of-figures p, .list-of-tables p, .list-of-examples p
{
	/* font size */
	font-size: 17px;
	
	/* bold face, higher number is more bold */
	font-weight: 450;
	
	/*border */
	/* background color: rgb(255,255,240)*/
	background-color: #FFFFF0;
	
	/* border width */
	border-width:1px;
	
	/* border color: rgb(83,35,56)*/
	border-color: #532338;
	
	/* border style: solid */
	border-style: solid;
	
	/* shadow effect */
	box-shadow: 1px 1px 1px 1px;
	
	/* fillet radius border */
	border-radius:10px;
	
	/* margin: center */
	margin: center;
	
	
	
	
	/* padding ("inner margin") settings are top - right - bottom - left */
	padding: 5px 5px 5px 5px;
}

.figure
{
	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 5px 5px 5px 5px;

	/* no padding ("inner border") */
	padding: 0;

	/* no border */
	border: 0;

	/* center text */
	text-align: center;
}


/* figure title */
.figure p, .table p, .example p
{	
	/* font size, relative to body font size */
	font-size: 80%;
}


/*
acronym {
      border-bottom: 1px dashed #00cc00;
      cursor: help;
}
*/


/* admonition headings */
div.note, div.important, div.warning, div.caution, div.tip
{
	/* padding ("inner margin") settings are top - right - bottom - left */
	padding: 0px 15px 0px 0px;
}

div.note th, div.important th, div.warning th, div.caution th, div.tip th
{
	/* set font size and line height                             */
	/* list of fonts provides fallbacks if a font is not present */
	font: 12px/18px Verdana, Arial, Helvetica, Sans-Serif;
	
	/* bold face, higher number is more bold */
	font-weight: 600;
	
	/* underline text */
	text-decoration: underline;

	/* left align */
	text-align: left;
}

.note p, .important p, .warning p, .caution p, .tip p
{	
	/* margin: none */
	margin: 0;
}

.note img, .important img, .warning img, .caution img, .tip img
{	
	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 0px 15px 0px 15px;
}


/* programlisting */
pre.programlisting
{
	/* non-proportional font */
	/* list of fonts provides fallbacks if a font is not present */
	font-family: "Courier New", Courier, Monospace;
	
	/* font size, relative to body font size */
	font-size: 80%;

	/* color: black */
	color: #000;

	/* background color: rgb(248,248,243)*/
	background-color: #F8F8F3;
	
	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 10px 15px 10px 15px;

	/* width, style and color of the bottom border */
	border: 1px dotted #E5E4D9;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 5px 5px 5px 5px;
}

div.example
{
	/* width, style and color of the bottom border */
	border: 1px dotted #E5E4D9;
	
	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 10px 15px 10px 15px;
}

/* title page */


/* heading1 is used for document title */
h1
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Gill Sans, sans-serif;

	/* font size, relative to body font size */
	font-size: 200%;

	/* bold face, higher number is more bold */
	font-weight: 600;

	/* line height, relative to body line height */
	line-height: 250%;

	/* text alignment: center */
	text-align: center;

	/* foreground color: dark blue */
	color: #19247C;

	/* background color: gradient(blue, white) */
	background: linear-gradient(#4169E1, #fff); 
	
	/* width, style and color of the bottom border */
	border: 3px solid  #19247C;
	
	/* fillet radius border */
	border-radius: 10px;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 15px 0 15px 0;

	/* no padding ("inner margin") */
	padding: 0;
}



/* author on title page is formatted as h3          */
/* these settings overwrite the regular h3 settings */


h3.author
{
	/* set font size and line height                             */
	/* list of fonts provides fallbacks in case selected fonts are not present */
	font+familz: Arial;

	/* bold face, higher number is more bold */
	font-weight: 800;

	/* bold text */
	text-decoration: bold;
	
	/* center text */
	text-align: left;

	/* color: dark grey */
	color: #333333;

	/* background color: rgb(254,254,254) */
	background-color: #fefefe;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 0 15px 15px 15px;

	/* no padding */
	padding: 0;

	/* no border */
	border: 0;
}

h3.corpauthor
{
	/* set font size and line height                             */
	/* list of fonts provides fallbacks in case selected fonts are not present */
	font-family: Trebuchet MS;

	/* bold face, higher number is more bold */
	font-weight: 600;

	/* do not underline */
	text-decoration: none;

	/* color: dark grey */
	color: #333333;

	/* background color: rgb(254,254,254) */
	background-color: #fefefe;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 0 15px 15px 15px;

	/* no padding */
	padding: 0;

	/* no border */
	border: 0;
}

/* copyright and date */
.copyright, .pubdate
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 90%;

	/* center text */
	text-align: center;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 15px 15px 15px 15px;

	/* no padding ("inner margin") */
	padding: 0;

	/* no border */
	border: 0;
}


/* legal notice box */
div.legalnotice
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 90%;

	/* color: black */
	color: #000;

	/* background color: light gray */
	background-color: #F8F8F3;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 10px 45px 10px 45px;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 5px 5px 5px 5px;

	/* width, style and color of the bottom border */
	border: 1px solid #ACA986;
}

div.affiliation
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 90%;

	/* color: black */
	color: #000;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 10px 45px 10px 45px;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 5px 5px 5px 5px;

	/* text alignment: right */
	text-align: right;

}

table {
	/* border: 1px solid #ACA986; */
	/* combined border */
	border-collapse: collapse;
	
	/* height expressed as a <percentage> of containing block's height */ 
	height: 100%;
	
	/* width expressed as a <percentage> of containing block's width */ 
	width: 100%;
}

thead {
	
	/* color: dark grey */
	color: #333333;
	
	/* background color*/
	background-color: rgba(32, 79, 149, 0.25);
}

tr {	
	/* no padding ("inner margin") */
	padding: 0px;
}

td {
	/* border: 1px solid #ACA986; */
	/* padding: 0px; */
}

div.highlights
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 90%;

	/* color: black */
	color: #000;

	/* background color: rgb(255,223,253) */
	background-color: #FFD;

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 10px 45px 10px 45px;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 5px 5px 5px 5px;

	/* width, style and color of the bottom border */
	border: 1px solid #FFD;
}

div.sidebar
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 90%;

	/* color: black */
	color: #000;

	/* background color */
	background-color: rgba(32, 79, 149, 0.2);

	/* margin settings are top - right - bottom - left (think clockwise) */
	margin: 10px 45px 10px 45px;

	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 5px 5px 5px 5px;

}

span.remark
{
	/* list of fonts provides fallbacks if a font is not present */
	font-family: Verdana, Arial, Helvetica, Sans-Serif;

	/* font size, relative to body font size */
	font-size: 80%;

	/* color: red */
	color: red;

	/* background color: gray */


	/* padding ("inner margin") settings are top - right - bottom - left */
	/* (think clockwise)                                                 */
	padding: 4px 4px 4px 4px;

	/* width, style and color of the bottom border */
	border: 1px solid red;
}
